
.admin-login{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets//6193220.jpg");
  
}
.admin-main-container{
    width: 25%;
    height: 60vh;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(0, 0, 0) !important;
    border-top: 5px solid blue;
    border-left: 5px solid blue;
    /* opacity: 0.9; */
}
.admin-main-container>p{
    color: rgb(8, 62, 255) !important;
}
.admin-header{
    font-weight: 800;
    font-size: 35px;
    color: rgb(8, 62, 255) !important;
    /* font-family: 'Times New Roman', Times, serif; */
}
.username{
    width: 80%;
    height: 5vh;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid gray;
    background-color:  #1b24ffa8;
    color: rgb(255, 255, 255);
    padding:6px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 2px;
        font-weight: 500;
}
.singin-button-container{
    display: flex;
    justify-content: end;
}
.singin-button{
    padding: 3% 10% 3% 10%;
    margin: 2% 10% 0 0 ;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
}
.singin-routing{
    text-decoration: none;
    color: white;
}
.home-and-forgot{
    text-align: start;
    color:  blue;
    margin-left: 8%;
}

.admin-images{
    padding: 5px;

}
.forgot-icon{
    margin-bottom: -4%;
    color: blue;
}
.forgot-icon:hover{
    color:  red;
    font-weight: 600;
}
.home-icon{
    text-decoration: none;
}
.home-navigator:hover{
    color:  red;
    font-weight: 600;
}
.home-navigator{
    color:  blue;
}
#message{
    color: red;
}
.icon{
    filter: invert();
}
.username::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family:  'Arial Narrow', Arial, sans-serif;
}