*{
    font-family: sans-serif;
}
.uptxt{
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 25px;
    color:  white;
    z-index: 1;
    margin-top: -16%;
}
.contact-details{
    text-align: center;
    margin: 8% 0 5% 10%;
    text-align: start;
}
.contact-header{
    color: black;
}
.sub-header{
    color: black;
    padding: 5px;
}