.dashboard-main-container{
    display: flex;
    height:200vh;
    position: absolute;
    z-index: 1;
}

.left-container{
        width: 18%;
        border: 1px solid white;
        background-color: rgb(64, 63, 63);
        font-family: sans-serif;
        font-weight: 700;
        color: white;
}

.dashboard-heading{
       padding-left: 5%;
}
.dashboard-admin-logo{
    padding-left: 5% ;
    display: flex;
   align-items: center;
}
.dashboard-text{
    padding: 5%;
    color: white;
}
.dashboard-items{
    padding-left: 2%;
}
.right-side-arrow{
    text-align: right;
    width: 50%;
}
.left-arrows{
    transition: transform 0.5s ease; 
    transform: rotate(-90deg);
}
.myclass{
    transition: transform 0.5s ease; 
    transform: rotate(0deg);
}
.menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    cursor: pointer;
}

.menu-items-left-side{
    display: flex;
    align-items: center; 
}

/* hide and show section */
.show-and-hide-menu{
  margin-left: 10%;
}
.add-manage-circle{
    display: flex;
    align-items: center;
}
.add-button{
    height: 12px;
    width: 12px;
    border: 2px solid rgb(228,227,227);
    border-radius: 50%;
}
.add-manage-circle>span{
    padding: 6px;
    color: rgb(228, 227, 227);
}

/* right side container */
.right-container{
    width: 82%;
    background-color: rgb(237, 235, 235);
}
.right-side-sub-container{
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.right-side-sub-container>div{
       padding: 2%;
}
.min-max-screen{
    display: flex;
    justify-content: end;
}
.routing-link{
    text-decoration: none;
  
}

