.dashboard-main-container{
    display: flex;
}

.left-container{
        width: 18%;
        border: 1px solid white;
        background-color: rgb(103, 102, 102);
        font-family: sans-serif;
        font-weight: 700;
        color: white;
}
.right-container{
    width: 82%;
    border: 2px solid blue;
}
.dashboard-heading{
       padding-left: 5%;
}
.dashboard-admin-logo{
    padding-left: 5% ;
    display: flex;
   align-items: center;
}
.dashboard-text{
    padding: 5%;
}
.dashboard-items{
    padding-left: 2%;
}
.right-side-arrow{
    text-align: right;
    width: 50%;
}
/* .right-side-arrow:hover{
    transform: rotate(-90deg);
    transition: transform 0.5s ease; 
} */
.menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.menu-items-left-side{
    display: flex;
    align-items: center; 
}

/* hide and show section */
.show-and-hide-menu{
  margin-left: 10%;
}
.add-manage-circle{
    display: flex;
    align-items: center;
}
.add-button{
    height: 12px;
    width: 12px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}
.add-manage-circle>span{
    padding: 6px;
}