.outertext{
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 25px;
    color:  white;
    z-index: 1;
    margin-top: -14%;
}
.faculties-details{
   height: 40vh;
   margin-top: 5%;
}
.faculties-details>h1{
    color: black;
    text-align: center;
}