*{
    font-family: sans-serif;
}
.manage-sub-admin{
    position: absolute;
   z-index: 1;
   margin: 5% 0 0 18%;
   width: 79%;
}
.manage-sub-admin-header{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 1%;
    margin-left: 1%;
}
.manage-admin-heading{
    font-size: 2rem;
    font-weight: 600;
}
.dashboard-navigate{
    padding: 3px;
}
#manage-subadmin-form-container{
    width: 100%;
   margin: 0 0 0 2%;
  border-radius: 11px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
#manage-subadmin-form-container>p{
                padding: 1% 0 0 2%;
                font-weight: 500;
}
.printing-and-searching{

    display: flex;
    justify-content: space-between;
}
.printing{
    width: 40%;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
    border-radius: 5px;
    color: white;
    background-color: gray;
    cursor: pointer;
}
.search{
    height: 6vh;
    margin: 1%;
    display: flex;
    align-items: center;
}
.search>input{
    height: 4.5vh;
    border-radius: 2px;
    border: 2px solid gainsboro;
}
.manage-subadmin-table{
    margin: 1%;
}
.sub-admin-tabulation{
    width: 100%;
}
.sub-admin-tabulation>thead>tr>th{
    padding: 10px;
    text-align: left;
}
.sub-admin-pagination{
    margin: 1%;
    display: flex;
    justify-content: space-between;
}
.prev-next-button{
    display: flex;
    align-items: center;
}
.prev-next-button>button{
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 3px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid gainsboro;
    cursor: pointer;
}
.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgb(52, 188, 242);
    border-radius: 5px;
   width: 15%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content p {
    color: black;
    padding: 1px 10px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content p:hover {
    background-color: #f1f1f1;
  }
.routing-link{
    text-decoration: none;
    color: white;
}
.no-data-cell{
  width: 100%;
    padding: 10px;
    text-align: center;
   margin-left: 250%;
   color: gray;
}