

.admin-reset{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgb(0, 208, 255) ,yellow,rgb(255, 0, 0))
}
.admin-main-container{
    width: 25%;
    height: 65vh;
    text-align: center;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-top: 5px solid blue;
}
.admin-main-container>p{
    color: black;
}
.admin-header{
    font-weight: 800;
    font-size: 35px;
    color: black;
}
.username{
    width: 80%;
    height: 5vh;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid gray;
}
.singin-button-container{
    display: flex;
    justify-content: end;
}
.singin-button{
    padding: 3% 10% 3% 10%;
    margin: 2% 10% 0 0 ;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
}


.signin{
    text-align: left;
    padding: 0 0 0 10%;
}
.routes{
    text-decoration: none;

}